


.top_header{
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    min-height: 50px;
    .container{
        display: flex;
        justify-content: space-between;
        .header__nav-left{
            display: flex;
            align-items: center;
            font-size: 14px;
            h6{
                margin: 0;
                font-size: 14px;
                line-height: 1.78;
                color: #696969;
            }
            a{
                color: #696969;
                font-size: 14px;
                line-height: 1.78;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #086ad8;
                }
            }
        }
        .header__nav-right{
            display: flex;
            align-items: center;
            font-size: 14px;
            a{
                margin-right: 15px;
                i{
                    padding-right: 10px;
                }
                span{
                    font-weight: 600;
                }
            }
            .header_location{
                span {
                    i{
                    padding-right: 10px;
                    }
                }
                
            }
        }
    }
}

.bottom_header{
    background-color: #fff;
    .container{
        position: relative;
        .bottom_wrap{
            display: flex;
            align-items: center;
            a{
                img{
                    width: 160px;
                }
            }
            .bottom_nav{
                display: flex;
                align-items: center;
                margin: 0;
                width: 90%;
                
                .bottom-item:nth-child(4){
                    
                    position: unset;
                    
                }
                .bottom-item{
                    display: flex;
                    position: relative;
                    justify-content: center;
                    padding: 30px 0;
                    width: 20%;
                    margin-left: 30px;
                    &:hover{
                        .menu-item{
                            display: block;
                            animation-name: fadeInUp;
                            animation-duration: 1s;
                            animation-fill-mode: both;
                        }
                        .menu3{
                            display: flex;
                            animation-name: fadeInUp;
                            animation-duration: 1s;
                            animation-fill-mode: both;
                        }
                    }
                    >a{
                        font-weight: 600;
                        color:#333;
                        img{
                            width: 160px;
                        }
                        i{
                            font-size: 10px;
                            padding-left: 10px;
                            vertical-align: middle;
                        }
                    }
                    .menu-item {
                        position: absolute;
                        margin-top: 50px;
                        min-width: 14em;
                        left: 0;
                        z-index: 99;
                        display: none;
                        background-color: #fff;
                        box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
                        
                        .item{
                            text-align: left;
                            padding: 0 30px;
                            margin: 15px 0;
                            width: 100%;
                            position: relative;
                            a{
                                position: relative;
                                color: #ababab;
                                transition: all 0.2s ease-in-out;
                                font-size: 14px;
                                &:hover{
                                    color: #086ad8;
                                    &:after{
                                        width: 100%;
                                        left: 0;
                                        right: auto;
                                    }
                                }
                                &:after{
                                    content: '';
                                    width: 0;
                                    height: 1px;
                                    bottom: 0;
                                    position: absolute;
                                    left: auto;
                                    right: 0;
                                    z-index: -1;
                                    transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                                    background: currentColor;
                                }
                                
                                
                            }
                            .menu_item-wrap{
                                width: 100%;
                                position: relative;
                                &:after{
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    transform: translateY(-50%);
                                    content: 'New';
                                    color: #fff;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 13px;
                                    background-color: #ff5843;
                                    padding: 3px 5px;
                                    border-radius: 2px;
                                }
                                a{
                                    span{
                                        position: unset;
                                        overflow: hidden;
                                        z-index: 1;
                                        
                                    }
                                }
                            }
                        }
                        .item-about{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                            i{
                                color: #ababab;
                            }
                            &:hover{
                                .menu2{
                                    display: block;
                                    animation-name: fadeInUp;
                                    animation-duration: 1s;
                                    animation-fill-mode: both;
                                }
                            }
                            
                            .menu2{
                                position: absolute;
                                left: 100%;
                                top: -10px;
                                display: none;
                                min-width: 14em;
                                background-color: #fff;
                                box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
                                li{
                                    margin:15px 0;
                                    padding: 0 15px;
                                    
                                    a{
                                        position: relative;
                                        &:hover{
                                            color: #086ad8;
                                            &:after{
                                                width: 100%;
                                                left: 0;
                                                right: auto;
                                            }
                                        }
                                        &:after{
                                            content: '';
                                            width: 0;
                                            height: 1px;
                                            bottom: 0;
                                            position: absolute;
                                            left: auto;
                                            right: 0;
                                            z-index: -1;
                                            transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                                            background: currentColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .menu3{
                        width: 100%;
                        display: flex;
                        position: absolute;
                        margin-top: 50px;
                        min-width: 14em;
                        left: 0;
                        display: none;
                        z-index: 99;
                        background-color: #fff;
                        box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
                        li{
                            width: 25%;
                            text-align: left;
                            padding: 0 30px;
                            margin: 15px 0;
                            position: relative;
                            .text-uppercase{
                                color:#333;
                                font-weight: 600;
                                font-size: 14px;
                            }
                            ul{
                                width: 100%;
                                text-align: left;
                                margin-top: 20px;
                                li{
                                    padding: 0;
                                    width: 100%;
                                    a{
                                        color: #ababab;
                                        transition: all 0.2s ease-in-out;
                                        font-size: 14px;
                                        &:hover{
                                            color: #086ad8;
                                            &:after{
                                                width: 100%;
                                                left: 0;
                                                right: auto;
                                            }
                                        }
                                        &:after{
                                            content: '';
                                            width: 0;
                                            height: 1px;
                                            bottom: 0;
                                            position: absolute;
                                            left: auto;
                                            right: 0;
                                            z-index: -1;
                                            transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                                            background: currentColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .search{
                width: 10%;
                
                .menu_bar{
                    display: none;
                }
                .menu2{
                    display: none;
                }
                .search_wrap {
                    max-width: 800px;
                    position: fixed;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    padding: 80px 0;
                    z-index: 9999;
                    bottom: 0;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    opacity: 0;
                    visibility: hidden;
                    &.show{
                        opacity: 1;
                        visibility: visible;
                        animation: slideInLeft 1s both;
                    }
                    .close-search{
                        display: inline-block;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 10%;
                        &:hover{
                            .bar1,.bar3{
                                opacity: 0;
                            }
                            .bar2{
                                opacity: 1;
                            }
                        }
                        .bar1, .bar2, .bar3 {
                            width: 35px;
                            height: 5px;
                            background-color: #333;
                            margin: 6px 0;
                            transition: 0.3s;
                        }
                        .bar1{
                            transform: rotate(-45deg) translate(-9px, 6px);
                        }
                        .bar2{
                            opacity:0;
                        }
                        .bar3{
                            transform: rotate(45deg) translate(-8px, -8px);
                        }
                        .change .bar1 {
                            opacity:0;
                        }
                        .change .bar2 {
                            opacity: 1;
                        }
                        .change .bar3 {
                            opacity:0;
                        }
                    }
                    form{
                        position: relative;
                        width: 100%;
                        input{
                            background-color: transparent;
                            border-bottom: 3px solid #086ad8;
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            border-radius: 0;
                            padding: 10px 0;
                            color: #086ad8;
                            width: 100%;
                            box-shadow: none;
                            height: 100px;
                            display: block;
                            font-size: 82px;
                            font-weight: 600;
                            line-height: 1.5;
                            outline: none;
                            &::placeholder{
                                color: #086ad8;
                                font-size: 72px;
                            }
                        }
                    }
                }
                .search_overlay {
                    content: "";
                    background-color: #fff;
                    height: 100%;
                    top: 0;
                    position: fixed;
                    text-align: center;
                    opacity: 1;
                    left: 0;
                    right: auto;
                    width: 100%;
                    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
                    z-index: 99;
                    display: none;
                    &.show{
                        display: block;
                        animation: slideInLeft 1s both;
                    }
                }
            }
        }
    }
}

.header.fixed-top {
    position: relative;
    padding-right: 0;
}

.header.nav-fixed{
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
    animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: none;
}
.header:not([class*="bg_"]):not([class*="bg-"]) {
    background-color: #fff;
}
.nav-fixed .top_header {
    display: none ;
}



