@media (max-width:667px){

    .page-mobile-menu-opened {
        .wrapper{
            &.show{
                transform: translateX(-350px);
            }
        }
        .page-mobile-main-menu{
            &.show{
                opacity: 1;
                visibility: visible;
            }
            & > {
                .inner{
                    -webkit-transform: translateX(0);
                    -ms-transform: translateX(0);
                    transform: translateX(0);
                }
            }
        }
    }
    
    .header{
        .top_header{
            display: none;
        }
        .bottom_header{
            .container{
                .bottom_wrap{
                    .bottom_nav{
                        display: none;
                    }
                    .img-link{
                        width: 80%;
                        padding: 20px 0;
                    }
                    .search{
                        display: flex;
                        width: 20%;
                        .menu_bar,.menu2{
                            display: block;
                            padding: 10px 0 10px 15px;
                        }
                        .menu_search-icon{
                            display: none;
                            position: absolute;
                            top: 100%;
                            background-color: #fff;
                            z-index: 9;
                            right: 0;
                            left: 0;
                            padding: 20px;
                            box-shadow: 0 15px 40px rgba(0,0,0,0.2);
                            i{
                                float: right;
                                font-size: 18px;
                            }
                        }
                        .search_wrap{
                            padding: 80px 20px;
                            .close-search{
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .banner{
        height: auto;
        .container{
            padding: 0;
            margin: 0;
            .banner_wrap{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                .banner_left{
                    width: 100%;
                    position: unset;
                    margin-top: 30px;
                    p{
                        font-size: 15px;
                    }
                    .banner_name{
                        display: flex;
                        h1,mark{
                            font-size: 20px;
                        }
                        mark{
                            padding: 0;
                        }
                    }
                }
                .banner_right{
                    position: unset;
                    .banner_img{
                        img{
                            width: 234px;
                        }
                    }
                }
            }
        }
    }
    .content{
        .container{
            .row{
                flex-direction: column;
                .content_left{
                    width: 100%;
                    padding: 0 20px;
                    .content_first{
                        h1{
                            font-size: 30px;
                        }
                    }
                }
                .content_right{
                    width: 100%;
                    padding: 0 20px;
                    margin-bottom: 300px;
                    .content_img{
                        top: 10%;
                        width: 129px;
                    }
                    .content_img1{
                        top: 0;
                        left: 50%;
                        width: 78px;
                    }
                    .content_img2{
                        top: 220px;
                        width: 78px;
                        left: 10%;
                    }
                    .content_img3{
                        width: 79px;
                        top: 150px;
                        right: 10%;
                    }
                    .content_img4{
                        top: 60px;
                        left: 15%;
                        width: 237px;
                        .btn-vid{
                            .play_vid{
                                width: 78px;
                                height: 78px;
                                left: 35%;
                                i{
                                    left:43%;
                                }
                            }
                            .video{
                                .video-link{
                                    .video-iframe{
                                        iframe{
                                            width: 375px;
                                            height: 205px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .service{
        .container{
            .service_title{
                h3{
                    font-size: 30px;
                }
            }
            .service_content{
                flex-direction: column;
                .service_item{
                    width: 100%;
                }
                .service_footer{
                    width: 100%;
                    h4{
                        padding: 0 30px;
                        text-align: center;
                        line-height: 30px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .counter{
        .container{
            .row{
                .col-sm-12{
                    margin: 0;
                    .content{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding: 100px 0 0 0;
                        h3{
                            margin-bottom: 30px;
                        }
                        h4{
                            font-size: 24px;
                        }
                    }
                }
                .col-sm-6{
                    .content{
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    .security{
        .container{
            .content{
                h1{
                    font-size: 40px;
                }
                h6{
                    line-height: 30px;
                    padding: 0 30px;
                }
            }
        }
    }
    .solution{
        .container{
            .head{
                h3{
                    font-size: 30px;
                }
            }
            .bottom{
                .row{
                    display: flex;
                    flex-direction: column;
                    .solution_item{
                        max-width: 100%;
                        height: 350px;
                        margin-bottom: 30px;
                        .solution_img{
                            img{
                                width: 100%;
                                height: 350px;
                                
                            }
                        }
                        .solutio_box{
                            padding: 50px 20px;
                        }
                    }
                }
                .btn{
                    .btn-link{
                        a{
                            padding: 20px;
                        }
                    }
                    .btn-link1{
                        a{
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
    .testimonial{
        .container{
            .testimonial-wrap{
                .testimonial-slide{
                    .testimonial-item{
                        padding: 31px 50px 90px;
                        margin: 0;
                    }
                }
                .testimonial-text{
                    .testimonial-bot_text{
                        h3{
                            font-size: 23px;
                            mark{
                                background-color: unset;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact{
        margin: 0;
        .container{
            .row{
                flex-direction: column;
                .col-6{
                    max-width: 100%;
                    .contact_wrap{
                        .contact_info{
                            h3{
                                font-size: 30px;
                            }
                        }
                        .contact_title{
                            margin-bottom: 20px;
                            p{
                                line-height: 1.5;
                                margin: 0;
                            }
                        }
                    }
                    .contact_wrap-phone{
                        .contact_btn{
                            a{
                                padding: 15px 80px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{    
        position: unset !important;
        .bottom_footer{
            .container{
                .row{
                    .col-sm-6{
                        .footer_icon{
                            justify-content: flex-start !important;
                        }
                    }
                }
            }
        }
    }
    
}
@media  (min-width: 768px) 
and (max-width: 1024px){

}
