.service{
    background-color: #f8f8f8;
    padding: 100px 0;
    .container{
        .service_title{
            text-align: center;
            h6{
                color: #ababab;
                font-size: 14px;
                letter-spacing: 3px;
                text-transform: uppercase;
                line-height: 1.43;
                font-weight: 700;
            }
            h3{
                font-size: 40px;
                line-height: 1.4;
                font-weight: 700;
                b{
                    font-weight: 700;
                    color: #086ad8;
                }
            }
        }

        .service_content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 50px;
            .service_item{
                width: 31%;
                background-color: #fff;
                margin-right: 30px;
                margin-bottom: 30px;
                box-shadow: 0 0 40px 5px rgba(51,51,51,0.1);                background: #fff;
                border-radius: 5px;
                padding: 30px 38px;
                min-height: 150px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                &:hover{
                    transform: translateY(-5px);
                    h4{
                        color:#086ad8;
                    }
                }
                .service_img{
                    margin-right: 30px;
                }
                .service_info{
                    h4{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.67;
                        margin-bottom: 0;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        &:hover{
                             color: #086ad8;
                        }
                    }
                }
            }
            .service_item:nth-child(3n){
                margin-right: 0;
            }
            .service_footer{
                padding-top: 40px;
                h4{
                    font-size: 18px;
                    a{
                        position: relative;
                        color:#086ad8;
                        &:before{
                            bottom: -1px;
                            content: '';
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            left: auto;
                            right: 0;
                            z-index: 1;
                            transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                            background: #aabbaa;
                        }
                        &:hover{
                            color: #086ad8;
                            &:after{
                                width: 100%;
                                left: 0;
                                right: auto;
                            }
                        }
                        &:after{
                            content: '';
                            width: 0;
                            height: 1px;
                            bottom: -1px;
                            position: absolute;
                            left: auto;
                            right: 0;
                            z-index: 1;
                            transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
                            background: currentColor;
                        }
                    }
                }
            }
        }
    }
}