.banner
    .container
        .banner_wrap
            .banner_left
                p.text-uppercase it software and design
                .banner_name
                    h1 Virtual technology in a 
                    mark Refined IT System
                h6 Set the friends for desktop & server virtualization technology
                .btn
                    a(href="#") Free Sample
                    <i class="far fa-square"></i>
                    span How we work

            .banner_right
                .banner_img
                    img(src="image/slider-processing-slide-01-image-01.png", alt="")
