.contact
    .container
        .row
            .col-6
                .contact_wrap
                    .contact_info
                        h3 To make requests for
                            p further information,
                                p contact us via our
                                    p social channels.
                    .contact_title
                        p We just need a couple of hours!
                        p No more than 2 working days since receiving your issue ticket.
            .col-6
                .contact_wrap-phone
                    .contact_phone
                        <i class="fas fa-phone" aria-hidden="true"></i>
                        p CALL FOR ADVICE NOW!
                    a(href="#").phone 1900 68668
                    .contact_btn
                        a(href="#") Contact us
                    