.content
    .container
        .row
            .content_left
                .content_first
                    p.text-uppercase  OUR COMPANY
                    h1 Share the joy of achieving 
                        b glorious moments 
                        c & climbed up 
                        b the top.
                .content_second
                    .accord_first
                        .accord_title
                            h6 How can we help your business?
                            <i class="fas fa-chevron-down"></i>
                        .accord_content
                            h6 Through the collaboration with customers in discussing needs and demand, we're able to attain mutual understanding, gain customer trust to offer appropriate advice, and bring about suggestions on suitable technology to transform your business.
                    .accord_first.accord_first1
                        .accord_title1
                            h6 How can we help your business?
                            <i class="fas fa-chevron-down"></i>
                        .accord_content1
                            h6 Through the collaboration with customers in discussing needs and demand, we're able to attain mutual understanding, gain customer trust to offer appropriate advice, and bring about suggestions on suitable technology to transform your business.
                    .accord_first.accord_first2
                        .accord_title2
                            h6 How can we help your business?
                            <i class="fas fa-chevron-down"></i>
                        .accord_content2
                            h6 Through the collaboration with customers in discussing needs and demand, we're able to attain mutual understanding, gain customer trust to offer appropriate advice, and bring about suggestions on suitable technology to transform your business.
            .content_right
                .content_img.img
                    img(src="image/home-processing-video-intro-slider-slide-01-image-02.jpg", alt="")
                .content_img1.img
                    img(src="image/home-processing-video-intro-slider-slide-01-image-03.jpg", alt="")
                .content_img2.img
                    img(src="image/home-processing-video-intro-slider-slide-01-image-04.jpg", alt="")
                .content_img3.img
                    img(src="image/home-processing-video-intro-slider-slide-01-image-05.jpg", alt="")
                .content_img4.img
                    img(src="image/home-processing-video-intro-slider-slide-01-image-01.jpg", alt="")
                    .btn-vid
                        a(href="#").play_vid#btn
                            <i class="fas fa-play"></i>
                        .video#myVideo(style="display:none;")
                            .video-link
                                .nen
                                .video-iframe
                                    iframe(src="https://www.youtube.com/embed/tiy1MeXzhfA", frameborder="0").video-src

            							
                   
