.demo_wrap
    .demo
        a(href="#").hint--top
            <i class="fas fa-project-diagram"></i>
            .tw Quick Options
        a(href="#").hint--top
            <i class="far fa-life-ring"></i>
            .tw Support Channel       
        a(href="#").hint--top
            <i class="fas fa-book"></i>
            .tw Documentation
        a(href="#").hint--top
            <i class="fas fa-shopping-cart"></i>
            .tw Purchase Mitech