.logo
    .container
        .logo_slide.owl-carousel.owl-theme
            .logo_item
                .logo_img
                    img(src="image/mitech-client-logo-01.png", alt="")
                .logo_img-hover
                    img(src="image/mitech-client-logo-01-hover.png", alt="")
            .logo_item
                .logo_img
                    img(src="image/mitech-client-logo-02.png", alt="")
                .logo_img-hover
                    img(src="image/mitech-client-logo-02-hover.png", alt="")
            .logo_item
                .logo_img
                    img(src="image/mitech-client-logo-03.png", alt="")
                .logo_img-hover
                    img(src="image/mitech-client-logo-03-hover.png", alt="")
            .logo_item
                .logo_img
                    img(src="image/mitech-client-logo-04.png", alt="")
                .logo_img-hover
                    img(src="image/mitech-client-logo-04-hover.png", alt="")
            .logo_item
                .logo_img
                    img(src="image/mitech-client-logo-05.png", alt="")
                .logo_img-hover
                    img(src="image/mitech-client-logo-05-hover.png", alt="")
            .logo_item
                .logo_img
                    img(src="image/mitech-client-logo-06.png", alt="")
                .logo_img-hover
                    img(src="image/mitech-client-logo-06-hover.png", alt="")
            