.security
    .container
        .content
            h1 IT Security & Computing
            h6 Challenges are just opportunities in disguise. 
                a(href="#") Take the challenge!
            