.service
    .container
        .service_title
            h6 OUR SERVICES
            h3 Preparing for your success, 
                p we provide 
                    b truly prominent IT solutions.
        .service_content
            .service_item
                .service_img
                    img(src="image/mitech-processing-service-image-01-80x83.png", alt="")
                .service_info
                    h4.text-capitalize IT design
            .service_item
                .service_img
                    img(src="image/mitech-processing-service-image-02-80x83.png", alt="")
                .service_info
                    h4.text-capitalize IT management 
            .service_item
                .service_img
                    img(src="image/mitech-processing-service-image-03-80x83.png", alt="")
                .service_info
                    h4.text-capitalize data security 
            .service_item
                .service_img
                    img(src="image/mitech-processing-service-image-04-80x83.png", alt="")
                .service_info
                    h4.text-capitalize infrastructure plan 
            .service_item
                .service_img
                    img(src="image/mitech-processing-service-image-05-80x83.png", alt="")
                .service_info
                    h4.text-capitalize firewall advancement
            .service_item
                .service_img
                    img(src="image/mitech-processing-service-image-06-80x83.png", alt="")
                .service_info
                    h4.text-capitalize desktop computing 
            .service_footer 
                h4 Challenges are just opportunities in disguise. 
                    a(href="#") Take the challenge!