.counter
    .container
        .row
            .col-sm-12.col-lg-4
                .content
                    
                    h3 
                        b 38
                        p YEARS’ EXPERIENCE IN IT
                    
                    h4 We have Lot’s of     
                    h4.bg  Success Stories
            .col-sm-6
                .content
                    .counter_item
                        span.ct 1790
                        p ACCOUNT NUMBER
                    .counter_item
                        span.ct 491
                        p FINISHED PROJECTS
                    .counter_item
                        span.ct 245
                        p HAPPY CLIENTS
                    .counter_item
                        span.ct 1090
                        p BLOG POSTS