.solution
    .container
        .head
            h6 OPTIMAL TECHNOLOGY SOLUTIONS
            h3 Preparing for your success,
                p we provide 
                    b truly prominent IT solutions.
        .bottom
            .row
                .solution_item.item1.col-3
                    .solution_img
                        img(src="image/home-processing-software-image-01.jpg", alt="")
                    .solution_box
                        h1 IT Management
                        p It’s possible to simultaneously manage and transform key information from one server to another.
                        .btn
                            a(href="")
                                <i class="fas fa-arrow-right"></i>
                .solution_item.item2.col-6
                    .solution_img
                        img(src="image/home-processing-software-image-02.jpg", alt="")
                    .solution_box
                        h1 IT Management
                        p It’s possible to simultaneously manage and transform key information from one server to another.
                        .btn
                            a(href="")
                                <i class="fas fa-arrow-right"></i>
                .solution_item.item1.col-3
                    .solution_img
                        img(src="image/home-processing-software-image-03.jpg", alt="")
                    .solution_box
                        h1 IT Management
                        p It’s possible to simultaneously manage and transform key information from one server to another.
                        .btn
                            a(href="")
                                <i class="fas fa-arrow-right"></i>
            .row.row2
                .solution_item.item4.col-4
                    .solution_img
                        img(src="image/home-processing-software-image-04.jpg", alt="")
                    .solution_box
                        h1 IT Management
                        p It’s possible to simultaneously manage and transform key information from one server to another.
                        .btn
                            a(href="")
                                <i class="fas fa-arrow-right"></i>
                .solution_item.item4.col-4
                    .solution_img
                        img(src="image/mitech-home-infotechno-box-large-image-02-370x370.jpg", alt="")
                    .solution_box
                        h1 IT Management
                        p It’s possible to simultaneously manage and transform key information from one server to another.
                        .btn
                            a(href="")
                                <i class="fas fa-arrow-right"></i>
                .solution_item.item4.col-4
                    .solution_img
                        img(src="image/mitech-home-infotechno-box-large-image-03-370x370.jpg", alt="")
                    .solution_box
                        h1 IT Management
                        p It’s possible to simultaneously manage and transform key information from one server to another.
                        .btn
                            a(href="")
                                <i class="fas fa-arrow-right"></i>

            .btn
                .btn-link
                    a(href="#") Learn more
                .btn-link1
                    a(href="#").blue Contact us