.testimonial
    .container
        .testimonial-wrap
            .testimonial-text
                .testimonial-head_text
                    h6.text-uppercase TESTIMONIALS
                .testimonial-bot_text
                    h3 What do people praise about
                        mark Mitech?     
            .testimonial-slide.owl-carousel.owl-theme
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/testimonial-90x90.png", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/home-infotechno-main-slider-slide-01-image-02-90x90.png", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/home-cybersecurity-contact-bg-image-90x90.png", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/mitech-testimonial-avata-06-90x90.jpg", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/mitech-testimonial-avata-05-90x90.jpg", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/mitech-testimonial-avata-04-90x90.jpg", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/mitech-testimonial-avata-02-90x90.jpg", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                .testimonial-item
                    .testimonial-info-wrap
                        .testimonial-img
                            img(src="image/mitech-testimonial-avata-03-90x90.jpg", alt="")
                        .testimonial-info
                            .testimonial-rating
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            .testimonial-main-info
                                h6.text-uppercase Itsjavedonly
                                .testimonial-country Canada
                    .testimonial-content
                        .testimonial-desc
                            p  and awesome customer support. Keep the good work going, guys.
                