extends master.pug
block content
    include ./component/Home/Banner.pug
    include ./component/Home/Content.pug
    include ./component/Home/service.pug
    include ./component/Home/service_counter.pug
    include ./component/Home/security.pug
    include ./component/Home/solution.pug
    include ./component/Home/testimonial.pug
    include ./component/Home/logo.pug
    include ./component/Home/contact.pug
    include ./component/Home/demo_toolbar.pug
    
    