.footer
    .header_footer
        .container
            .row
                .col-lg-4.col-md-6.col-sm-12
                    .footer_img.div
                        a(href="#")
                            img(src="image/secondary-logo-160x47.png", alt="")
                    .footer_location.div
                        h6  58 Howard Street #2 San Francisco, CA 941
                    .footer_email.div
                        a(href="#") contact@mitech.com
                    .footer_phone.div
                        a(href="#") (+68)1221 09876
                    .footer_link.div
                        a(href="#") www.mitech.thememove.com
                .col-lg-2.col-md-3.col-sm-4
                    h4  IT Services
                    .list
                        ul
                            li
                                a(href="#") IT Software
                            li
                                a(href="#") IT Support
                            li
                                a(href="#") IT Platforms
                            li
                                a(href="#") Cloud Computing
                            li
                                a(href="#") Cyber Security
                .col-lg-2.col-md-3.col-sm-4
                    h4  Quick links
                    .list
                        ul
                            li
                                a(href="#") Location pickups
                            li
                                a(href="#") Terms of Payment
                            li
                                a(href="#") Privacy Policy
                            li
                                a(href="#") Where to Find Us
                .col-lg-2.col-md-6.col-sm-4
                    h4  Support
                    .list
                        ul
                            li
                                a(href="#") Forum Support
                            li
                                a(href="#") Help & FAQ
                            li
                                a(href="#") Contact Us
                            li
                                a(href="#") Pricing and plans
                            li
                                a(href="#") Cookies Policy
                .col-lg-2.col-md-4.col-sm-12
                    .google
                        a(href="#").gg
                            img(src="image/mitech-button-google-play-light.jpg", alt="")
                    .appstore
                        a(href="#").app
                            img(src="image/mitech-button-app-store-light.jpg", alt="")
    .bottom_footer
        .container
            .row
                .col-sm-6
                    .footer_txt
                        h4 © 2019 Mitech. All Rights Reserved
                .col-sm-6
                    .footer_icon
                        .div
                            a(href="#").hint--top
                                <i class="fab fa-twitter"></i>
                            .tw twitter
                        .div
                            a(href="#").hint--top
                                <i class="fab fa-facebook-f"></i>
                            .tw facebook
                        .div
                            a(href="#").hint--top
                                <i class="fab fa-instagram"></i>
                            .tw instagram
                        .div
                            a(href="#").hint--top
                                <i class="fab fa-linkedin"></i>
                            .tw linkedin
#button
    <i class="fas fa-arrow-up up"></i>
    <i class="fas fa-arrow-up down"></i>

