.header_sticky_bar.d-none
header1.header.fixed-top
    .top_header
        .container
            .header__nav-left
                a(href="#").header__nav-link.text-capitalize now hiring:
                h6 Are you a driven and motivated 1st Line IT Support Engineer?
            .header__nav-right
                a(href="#").header__nav-link 
                    <i class="fas fa-phone"></i>
                    span 0122 8899900
                .header_location
                    span
                        <i class="fas fa-map-marker-alt"></i>
                        span.info-text 58 Howard Street #2 San Francisco
    
    .bottom_header
        .container
            .bottom_wrap
                a(href="#").img-link
                    img(src="image/dark-logo.png", alt="")
                ul.bottom_nav
                    li.bottom-item
                        a(href="#")
                            span Home
                            <i class="fas fa-chevron-down"></i>
                        ul.menu-item
                            li.item
                                a(href="#") Software & Techology
                            li.item
                                a(href="#") Startup Business
                            li.item
                                a(href="#") IT Agency
                            li.item
                                a(href="#") IT Services
                            li.item
                                a(href="#") IT Solution
                            li.item
                                a(href="#") Cyber Security
                            li.item
                                a(href="#") Modern IT Company
                            li.item
                                a(href="#") Trusted Services
                            li.item
                                a(href="#") Machine Learning
                            li.item
                                .menu_item-wrap 
                                    a(href="#")
                                        span.new Software innovation
                            li.item
                                .menu_item-wrap
                                    a(href="#")
                                        span.new Mitech Shop
                            li.item
                                .menu_item-wrap
                                    a(href="#")
                                        span.new Mitech RTL
                    li.bottom-item
                        a(href="#")
                            span Company
                            <i class="fas fa-chevron-down"></i>
                        ul.menu-item
                            li.item.item-about
                                a(href="#") About us
                                <i class="fas fa-chevron-right"></i>
                                ul.menu2
                                    li
                                        a(href="#") About us 01
                                    li
                                        a(href="#") About us 02
                                    
                            li.item
                                a(href="#") Contact us
                            li.item
                                a(href="#") Leadership
                            li.item
                                a(href="#") Why choose us
                            li.item
                                a(href="#") Our history
                            li.item
                                a(href="#") FAQs
                            li.item
                                a(href="#") Careers
                            li.item
                                a(href="#") Pricing plans                          
                    li.bottom-item
                        a(href="#")
                            span IT solutions
                            <i class="fas fa-chevron-down"></i>
                        ul.menu-item
                            li.item
                                a(href="#") IT Services
                            li.item
                                a(href="#") Managed IT Services
                            li.item
                                a(href="#") Industries
                            li.item
                                a(href="#") Business solution
                    li.bottom-item
                        a(href="#")
                            span Elements
                            <i class="fas fa-chevron-down"></i>
                        ul.menu3
                            li.item
                                a(href="#").text-uppercase elements group 01
                                ul
                                    li
                                        a(href="#") Accordions & Toggles
                                    li
                                        a(href="#") Box Icon
                                    li
                                        a(href="#") Box Image
                                    li
                                        a(href="#") Box Large Image
                                    li
                                        a(href="#") Buttons
                                    li
                                        a(href="#") Call to cation
                                    li
                                        a(href="#") Client Logo
                                    li
                                        a(href="#") Countdown
                            li.item
                                a(href="#").text-uppercase elements group 02
                                ul
                                    li
                                        a(href="#") Counters
                                    li
                                        a(href="#") Dividers
                                    li
                                        a(href="#") Flexible image slider
                                    li
                                        a(href="#") Google Map
                                    li
                                        a(href="#") Gradation
                                    li
                                        a(href="#") Instagram
                                    li
                                        a(href="#") List
                                    li
                                        a(href="#") Message Box
                            li.item
                                a(href="#").text-uppercase elements group 03
                                ul
                                    li
                                        a(href="#") Popup Video
                                    li
                                        a(href="#") Pricing Box
                                    li
                                        a(href="#") Progress Bar
                                    li
                                        a(href="#") Progress Circle
                                    li
                                        a(href="#") Rows & Columns
                                    li
                                        a(href="#") Social Networks
                                    li
                                        a(href="#") Tabs
                                    li
                                        a(href="#") Team Member
                            li.item
                                a(href="#").text-uppercase elements group 04
                                ul
                                    li
                                        a(href="#") Testimonials
                                    li
                                        a(href="#") Timeline
                                    li
                                        a(href="#") Carousel Sliders
                                    li
                                        a(href="#") Typed Text
                                    li
                                        a(href="#") Unlimited Charts
                    li.bottom-item
                        a(href="#")
                            span Case Studies
                            <i class="fas fa-chevron-down"></i>
                        ul.menu-item
                            li.item
                                a(href="#") Case Studies 01
                            li.item
                                a(href="#") Case Studies 02
                            li.item
                                a(href="#") Single Layout        
                    li.bottom-item
                        a(href="#")
                            span Blog
                            <i class="fas fa-chevron-down"></i>
                        ul.menu-item
                            li.item
                                a(href="#") List Large Image
                            li.item
                                a(href="#") Left Large Image
                            li.item
                                a(href="#") Grid Classic
                            li.item
                                a(href="#") Grid Mansory
                            li.item
                                a(href="#") Single Layout
                .search
                    a(href="#").menu_bar
                        <i class="fas fa-bars"></i>
                    a(href="#").menu_search-icon
                        <i class="fas fa-search"></i>
                    a(href="#").menu2
                        <i class="fas fa-ellipsis-h"></i>
                    .search_wrap
                        .close-search(onclick="myFunction(this)")
                            .bar1
                            .bar2
                            .bar3
                        form
                            input(type="text" placeholder="Search")
                            
                    .search_overlay
                    
    

