.sub
    .container
        .sub_wrap
            
            .sub_content
                <i class="fas fa-times close"></i>
                h3 Newsletter
                .description * Be the first to learn about our latest trends and get exclusive offers.
                .sub_img
                    img(src="image/newsletter-popup-image.png", alt="")
                .form
                    h5 Newsletter sign-up
                    input(type="text" placeholder="Your e-mail")
                    button(type="submit").btn Subcribe

            